<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNkQ_taS5idEnTga5Ucn5DiMOCuMg2XS0</string>
	<key>GCM_SENDER_ID</key>
	<string>822831644799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.api.whizardapi</string>
	<key>PROJECT_ID</key>
	<string>whizardapi-9b442</string>
	<key>STORAGE_BUCKET</key>
	<string>whizardapi-9b442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822831644799:ios:61aca22629e47dfd79bf4a</string>
</dict>
</plist>